@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

$rubik-font: "Rubik", sans-serif;
$font-size: 1.2rem;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$sm: 850px;
$md: 1200px;
